html,
body {
  margin: 0px;
}
body {
  font-size: 16px;
  font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
  color: #3f3a3a;
}
form {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
select,
img {
  vertical-align: middle;
}
main {
  padding: 50px 0px;
}
.view {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

/* ======== Header ======= */
header {
  display: flex;
  height: 6.25rem;
  /* background-color: rgb(197, 197, 197); */
  /* test */
  background-color: #ffffff;
  align-items: center;
}
header .logo {
  flex: none;
  width: 16.125rem;
  margin-left: 30px;
}
header .logo img {
  width: auto;
  height: 3rem;
}

/* ======== Middle nav (PD catalog) ======== */
header nav {
  flex: auto;
  display: flex;
  /* test */
  /* background-color: #20eeb0f8; */
}
header nav .item {
  font-family: PingFangTC;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  flex: none;
  width: 6.25rem;
  height: 1.75rem;
  letter-spacing: 25px;
  margin-left: 30px;
  border-right: 1px solid #3f3a3a;
  text-align: center;
}

/* ======== Right feature (Search, cart, member) ======== */
header .feature {
  display: flex;
  width: auto;
  /* padding: 10px 10% 10px 2%; */
  justify-content: space-between;
  /* test */
  background-color: #f1d536f8;
}
/* for mobile layout */
/* search */
header .feature .search--web {
  /* display: block; */
  height: 25px;
  width: 140px;
  display: flex;
  flex: auto;
  border: 1px solid rgb(173, 173, 173);
  background-color: white;
  padding: 5px 0 5px 15px;
  border-radius: 200px 200px 200px 200px;
  margin: 0 15px 0 20px;

  background-color: rgb(247, 132, 90);
}
#webSeacrhBtn {
  background-image: url(../img/search.png);
  height: 32px;
  width: 32px;
  background-size: cover;
}
header .feature .search--web a {
  justify-content: flex-end;
}
header .feature .search--web input {
  border: none;
  height: 25px;
  width: 100%;
  outline: none;
  background-color: rgb(80, 80, 158);
}
header .feature .search--web button {
  position: relative;
  right: 7px;
  background-color: transparent;
  border: none;
}

/* cart */
.cart--web {
  height: 44px;
  width: 44px;
  font-size: 14px;
  color: #8b572a;
  text-decoration: none;
  margin: 0 9px 0 0;
}
.cart--web img {
  height: 44px;
  width: 44px;
  position: relative;
  bottom: 5px;
}
.cart--amount {
  background-color: #8b572a;
  opacity: 0.8;
  color: #ffffff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: relative;
  bottom: 30px;
  left: 17px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* member */
.member--web {
  height: 44px;
  width: 44px;
  margin: 0 10px 0 0;
}
.member--web img {
  height: 44px;
  width: 44px;
  bottom: 5px;
  position: relative;
}

/* ======== Mobile search ======== */
.logo_search {
  text-align: right;
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
}
.logo_search a {
  height: 44px;
  width: 44px;
}
.search--mobile {
  height: 30px;
  width: 274px;
  display: flex;
  border: 1px solid rgb(173, 173, 173);
  background-color: white;
  padding: 5px 0 5px 20px;
  border-radius: 200px 200px 200px 200px;
  position: fixed;
  right: 10%;
  display: none;
  left: 12%;
  top: 10px;
  width: 70%;
}
.search--mobile img {
  height: 40px;
  width: 40px;
}
.search--mobile button {
  height: 40px;
  width: 40px;
  position: relative;
  right: 15px;
  bottom: 5px;
  background-color: transparent;
  border: none;
}
.search--mobile input {
  border: none;
  width: 87%;
  height: 30px;
  position: absolute;
  bottom: 6px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  padding: 17px;
  background-color: cadetblue;

  /* border-width: 1px;
    padding: 12px 10px;
    position: fixed;
    z-index: 200;
    left: 12%;
    top: 10px;
    width: 70%; */
}

/* ======== Mobile nav and black bar ======== */
nav.mobile {
  display: flex;
  color: #f5f5f5;
  background-color: #313538;
  height: 2.5rem;
}
nav.mobile .item {
  flex: auto;
  text-align: center;
  border-right: 1px solid #f5f5f5;
  color: #828282;
  display: none;
}
nav.mobile .item:hover {
  color: white; /*current tag color*/
}
nav.mobile .item:last-child {
  border-right-width: 0px;
}

/* ======== Mobile feature (cart, member)======== */
.feature--mobile {
  width: 100%;
  height: 60px;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
.feature--mobile div {
  display: flex;
  color: white;
  background-color: #313538;
  font-size: 16px;
  justify-content: space-around;
  text-align: center;
}
.feature--mobile__bar {
  display: block;
  flex: auto;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #f5f5f5;
}

.feature--mobile a {
  text-decoration: none;
  margin: 10px;
  display: flex;
  font-size: 22px;
  color: white;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.feature--mobile img {
  height: 30px;
  width: 30px;
  margin: 5px;
}
/* orign */
/* .feature--mobile {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 10px 0px;
    width: 100%;
    display: none;
    z-index: 100;
    color: #f5f5f5;
    background-color: #313538;
}
.feature--mobile .item {
    display: block;
    flex: auto;
    text-align: center;
    border-right: 1px solid #f5f5f5;
}
.feature--mobile .item:last-child {
    border-right-width: 0px;
}
.feature--mobile .item .cart {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 45px;
    background-image: url('../img/cart-mobile.png');
    background-size: 40px 40px;
}
.feature--mobile .item .member {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 45px;
    background-image: url('../img/member-mobile.png');
    background-size: 40px 40px;
}
.feature--mobile .item img {
    width: 40px;
    height: 40px;
    transform: translate(0px, -2px);
} */

/* == End Of Header == */
/* == Footer Start == */

footer {
  color: #f5f5f5;
  background-color: #313538;
  font-size: 0.8em;
  padding: 20px 0px;
}
footer .view {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #780088f8; */
}
footer .link {
  flex: none;
  display: flex;
  align-items: center;
}
footer .link .item {
  flex: none;
  width: 100px;
  text-align: center;
  border-right: 1px solid #f5f5f5;
}
footer .link .item:hover {
  color: #c49871;
}
footer .link-1 .item:last-child {
  border-right-width: 0px;
}
footer .social {
  flex: none;
  width: 200px;
}
footer .social img {
  width: 40px;
  height: 40px;
  margin: 8px;
}

footer .copyright {
  flex: none;
  width: 200px;
  color: #828282;
}
/* == End Of Footer == */
@media (min-width: 1001px) {
  .feature--mobile {
    display: none;
  }
  .logo_search {
    display: none;
  }
}
@media (max-width: 1000px) {
  /* Header */

  header {
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
  }
  header .logo {
    flex: auto;
    width: 190px;
    text-align: center;
    margin-left: 0px;
  }
  header .logo img {
    height: 36px;
  }
  header nav {
    display: none;
  }
  nav.mobile {
    padding: 10px 0px;
    height: auto;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: 100;
  }
  nav.mobile .item {
    display: block;
  }

  div.padding-header-mobile {
    display: block;
  }
  header .feature {
    display: none;
  }
  header .feature .search--web {
    display: none;
  }
  header .feature .cart--web {
    display: none;
  }
  header .feature .member--web {
    display: none;
  }

  /* .feature--mobile {
        display: flex;
    } */

  /* Footer */
  footer {
    padding-bottom: 90px;
  }
  footer .view {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  footer .link {
    flex-wrap: wrap;
    margin-left: 15px;
    line-height: 30px;
    width: 80px;
  }
  footer .link .item {
    width: 100%;
    border-right: none;
    text-align: left;
  }
  footer .social {
    align-self: center;
    margin-right: 15px;
    width: 120px;
    text-align: center;
  }
  footer .social img {
    width: 24px;
    height: 24px;
    margin: 3px;
  }
  footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
